
.container{
    padding-top: 20px;
    text-align: center;
    background-color: white;
    height: 700px;
}
.h1{
    color: gray;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background-color: #dedddd;
    width: 200px;
    height: 200px;
}
.card:hover{
    background-color: #cac6e6;
    cursor: pointer;
}
